:root {
    --heightChat: 400px;
    --widthChat: 300px;
    --tamanioRosa: calc( var(--heightChat) / 4 );
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #FFEDED; 
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat {
    width: var(--widthChat);
    height: var(--heightChat);
    z-index: 1000;
}

#chatCerrado{
    position: fixed;
    width: var(--widthChat);
    height: calc (var(--widthChat) / 5 );
    margin-top: auto;
    bottom: 0px;
    pointer-events: all;
    cursor: pointer;
    display: none;
}

#close {
    pointer-events: all;
    cursor: pointer;
}

#divRosas{
    position: relative;
    width: var(--widthChat);
    height: var(--heightChat);
}

.rosa {
    position: absolute;
    width: var(--tamanioRosa);
    z-index: -1;
    transition: all 0.5s ease-in-out;
    transform-origin: center;
}

/* Rosa arriba */
#rosa1 {
    top: calc(0px - var(--tamanioRosa) / 3);
    left: 50%;
    transform: translateX(-50%);
}

/* Rosa abajo */
#rosa2 {
    bottom: calc(0px - var(--tamanioRosa) / 3);
    left: 50%;
    transform: translateX(-50%);
}

/* Rosa izquierda superior */
#rosa3 {
    left: calc(0px - var(--tamanioRosa) / 2);
    top: 25%;
}

/* Rosa izquierda inferior */
#rosa4 {
    left: calc(0px - var(--tamanioRosa) / 2);
    bottom: 25%;
}

/* Rosa derecha superior */
#rosa5 {
    right: calc(0px - var(--tamanioRosa) / 2);
    top: 25%;
}

/* Rosa derecha inferior */
#rosa6 {
    right: calc(0px - var(--tamanioRosa) / 2);
    bottom: 25%;
}

.rosa.girando {
    animation: rotacion 4s linear infinite;
}

@keyframes rotacion {
    from {
        transform: translate(-50%, -50%) rotate(var(--angulo-inicial));
    }
    to {
        transform: translate(-50%, -50%) rotate(calc(var(--angulo-inicial) + 360deg));
    }
}

@media screen and (min-width: 1500px){
    :root {
    --heightChat: 800px;
    --widthChat: 600px;
    --tamanioRosa: 200px;
    }
  
  body {
    width: 100vw;
    height: 100vh;
  }

}

@media screen and (pointer: coarse) {
  :root {
    --heightChat: 300px;
    --widthChat: 200px;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }

}