:root {
    --heightChat: 400px;
    --widthChat: 300px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #FFEDED; 
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat {
    width: var(--widthChat);
    height: var(--heightChat);
}

#chatCerrado {
    position: fixed;
    width: var(--widthChat);
    margin-top: auto;
    bottom: 0px;
}

