@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

:root {
    --heightChat: 400px;
    --widthChat: 300px;
    --tamanioRosa: 100px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #FFEDED; 
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Estado activo del chat */
.chat[data-click-count="0"] {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* Resto de los chats */
.chat[data-click-count="1"] {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Estilos para las opciones */
.opciones {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.opciones:hover {
    background-color: #f0f0f0;
}

#divRosas {
    position: relative;
    width: var(--widthChat);
    height: var(--heightChat);
}

.chat {
    width: var(--widthChat);
    height: var(--heightChat);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
}

body{
  transition: background 1.5s linear;
  background: linear-gradient(to left, #FFDFE0 0%, #FFDFE0 0%);
}



.rosa {
    position: absolute;
    width: var(--tamanioRosa);
    max-width: 150px; /* Límite máximo */
    z-index: 5;
    transform-origin: center;
    transition: all 0.5s ease;
    pointer-events: none; /* Permite clics a través de las rosas */
}

/* Rosa arriba */
#rosa1 {
    top: calc(0px - var(--tamanioRosa) / 3);
    left: 50%;
    transform: translateX(-50%);
}

/* Rosa abajo */
#rosa2 {
    bottom: calc(0px - var(--tamanioRosa) / 3);
    left: 50%;
    transform: translateX(-50%);
}

/* Rosa izquierda superior */
#rosa3 {
    left: calc(0px - var(--tamanioRosa) / 2);
    top: 25%;
}

/* Rosa izquierda inferior */
#rosa4 {
    left: calc(0px - var(--tamanioRosa) / 2);
    bottom: 25%;
}

/* Rosa derecha superior */
#rosa5 {
    right: calc(0px - var(--tamanioRosa) / 2);
    top: 25%;
}

/* Rosa derecha inferior */
#rosa6 {
    right: calc(0px - var(--tamanioRosa) / 2);
    bottom: 25%;
}

@media screen and (min-width: 1500px) {
    :root {
        --heightChat: 800px;
        --widthChat: 600px;
        --tamanioRosa: 200px;
    }
}

@media screen and (pointer: coarse) {
    .opciones:hover {
        transform: none;
    }
}