/* -------------------------------------------------- FASE 4-SPIKES ADICIONALES. ----------------------------------------------- */

.spike1x-fase-4 {
    top: 70%;
    left: 100%;
    --rot: 90deg;
    transform: rotate(var(--rot));
  }