/* modificaciones a los svg */
:root {
  --escala-rosa: 0.8;
  --tamanio-rosa: 150px;
  --offset-distancia: 20%; 
  --heightChat:  500px;
  --widthChat: 650px;
}

  /* modificaciones a los svg */
  html {
    background: linear-gradient(to right, #ffe5e5 80%, #884076 100%);
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .pantalla {
    position: relative; 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.chat1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--widthChat);
    height: var(--heightChat);
    

    .st0 {
        fill: #ffc7c8;
     }

    .st0, .st1, .st2, .st3, .st4, .st5, .st6, .st7 {
    stroke-miterlimit: 10;
    }

    .st0, .st3, .st4, .st6, .st7 {
        stroke-width: 6px;
    }

    .st0, .st7 {
        stroke: #7ef1ff;
    }

    .st1 {
    fill: #f5ffc9;
    }

  .st1, .st2, .st5 {
    stroke: aqua;
  }

  .st8 {
    fill: #e4d4ff;
  }

  .st2 {
    fill: #fdffc2;
  }

  .st3 {
    fill: url(#Degradado_sin_nombre);
  }

  .st3, .st4, .st6 {
    stroke: #67f1ff;
  }

  .st4 {
    fill: #eab0b0;
  }

  .st5 {
    fill: #fffcc9;
  }

  .st6 {
    fill: url(#Degradado_sin_nombre_2);
  }

  .st7 {
    fill: none;
  }
}

.rosa-fase1 {
  position: absolute;
  width: var(--tamanio-rosa);
  height: var(--tamanio-rosa);
  z-index: -1;
  transform: scale(var(--escala-rosa));
  filter: drop-shadow(0 0 8px rgba(255, 105, 180, 0.5));
  transition: transform 0.3s ease; /* Efecto suave al redimensionar */
}

#R1-F1 { /* flor de arriba */
  top: calc(69% - var(--heightChat)/2 - var(--tamanio-rosa));
  left: 50%;
  transform: translateX(-50%) scale(var(--escala-rosa));
}

#R2-F1 { /* flor derecha-arriba */
  top: calc(35% - var(--tamanio-rosa)/2);
  right: calc(85% - var(--widthChat)/2 - var(--offset-distancia));
}

#R3-F1 { /* flor abajo-arriba */
  bottom: calc(35% - var(--tamanio-rosa)/2);
  right: calc(85% - var(--widthChat)/2 - var(--offset-distancia));
}

#R4-F1 { /* flor de abajo */
  bottom: calc(74% - var(--heightChat)/2 - var(--tamanio-rosa));
  left: 50%;
  transform: translateX(-50%) scale(var(--escala-rosa));
}

#R5-F1 { /* flor abajo-izquierda */
  bottom: calc(33% - var(--tamanio-rosa)/2);
  left: calc(85% - var(--widthChat)/2 - var(--offset-distancia));
}

#R6-F1 { /* flor arriba-izquierda */
  top: calc(35% - var(--tamanio-rosa)/2);
  left: calc(85% - var(--widthChat)/2 - var(--offset-distancia));
}

body[data-hash=""] #chat1 {
  display: grid;
}

